li{
    list-style-type: none;
    cursor: pointer;
}
a {
    /*color: #000 !important;*/
    text-decoration: none
}

.widget-background{
    position: relative;
    width: 621px;
    height: 462px;
}
.widget{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 435px;
    border: solid 1px black;
    font-style: normal;
    font-weight: normal;
    line-height: 21px;
}
.widget__search{
    display: flex;
    height: 45px;
    border-bottom: solid 1px black;
}
.search__input, .search__input:focus {
    position: absolute;
    padding-left: 10px;
    height: 45px;
    width:535px ;
    border: none;
    outline: none;
    font-size: 18px;
    color: #696969;
}
.search__submit{
    position: absolute;
    right: 0;

    height: 30px;
    width: 56px;
    border: none;
    background-color: #FFFFFF;
    background-image: url("./img/search.svg") ;
    background-repeat: no-repeat;
    top: 9px;
    cursor: pointer;
}
.search__form{
    height: 45px;
}
.widget__view{
    display: flex;
    height: 390px;

}
.view__weather{
    width: 300px;
    border-right: black solid 1px;
}
.weather__now{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 345px;
    border-bottom: solid 1px black ;
}
.weather__tabs{
    display: flex;
    cursor: pointer;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 345px;
    border-bottom: solid 1px black ;
}
.tabs__button{
    width: 100px;
    height: 44px;
    outline: none;
    border: none;
    /*z-index: -1;*/
    background-color: white;
    font-size: 18px;
    color: #000000;
    border-bottom:black solid 1px ;
    cursor: pointer;
}
.button-details{
    border-right: black solid 1px;
    border-left: black solid 1px;
}
.active-button{
    background: #000000;
    color: #FFFFFF;
}
.view__location{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.location__header{
    height: 67px;
    border-bottom: solid 1px #000000;
}
.added_location{
    position: absolute;
    width: 186px;
    height: 28px;
    margin-left: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.now__weather{
    height: 115px;
    padding-left: 20px;
}
.temp-now{
    position: absolute;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;

}
#now-icon{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 100px;
    top: 180px;
    border-radius: 0px;
    line-height: 120px;

}
/*#now_city-like{*/
/*    position: absolute;*/
/*    width: 25px;*/
/*    height: 25px;*/
/*    mix-blend-mode: normal;*/
/*    opacity: 0.54;*/
/*    background: url("./img/heart.svg");*/
/*    left: 245px;*/
/*    bottom: 50px;*/
/*    cursor: pointer;*/
/*}*/
.favorite-icon{
    position: absolute;
        width: 25px;
        height: 25px;
        mix-blend-mode: normal;
        opacity: 0.54;
        background: url("./img/heart.svg");
        left: 245px;
        bottom: 50px;
        cursor: pointer;
}
#grad{
    position: absolute;
    top: 10px;
    width: 8px;
    height: 8px;
    border: solid 4px #000000;
    border-radius: 50%;
}
#now-city{
    position: absolute;
    width: 150px;
    height: 28px;
    bottom: 50px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.weather-details-item{

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 10px;
}

.location__cities::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.cities{
    position: absolute;
    top:120px;
    height: 300px;
    width: 275px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
    padding-left: 20px;
    max-height: 300px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}
.cities::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.forecast::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.forecast{
    position: relative;
    flex-direction: column;
    justify-content: space-between ;
    height: 345px;
    border-bottom: solid 1px black ;
    max-height: 345px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /*scrollbar-width: none;*/
    display: flex;

}
.forecast-city-name{
    position: absolute;
    width: 70px;
    height: 28px;
    padding-top: 30px;

 }
.forecast__item{

    width: 265px;
    min-height: 120px;
    border: 1px solid #000000;
    box-sizing: border-box;
    margin-top: 9px;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;

}


.city-name{
    width: 76px;
    height: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 33px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.forecast__weather-icon{
    position: absolute;
    background: url("./img/rain.svg") no-repeat;
    width: 100px;
    height: 100px;
    left: 160px;
    bottom: -35px;
}
.forecast-rain , .forecast-time{
    position: absolute;
    width: 31px;
    height: 31px;
    left: 190px;
}
.hide{
    display: none;
}
.delete{

    position: absolute;
    width: 10px;
    height: 10px;
    right: 5px;
    margin-top: 15px;
    background: url("./img/close.svg") no-repeat;
}
.forecast-city-name{
    position: absolute;
    height: 28px;
    width: 76px;
    top: -20px;
}
.forecast__feelslike{
    position: absolute;
    padding-top: 60px;
}
.temerature{
    position: absolute;
    padding-top: 10px;
}